.section {
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    padding-bottom: 347px;
}

.mdl-grid .mdl-cell mdl-card {
    margin: auto;
}

.mdl-grid .mdl-cell div h3, .mdl-grid .mdl-cell div h3 small, .mdl-grid .mdl-cell mdl-card mdl-card-title h2, button {
    text-align: center;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.mdl-grid .mdl-cell div h3 {
    text-align: center;
}

mdl-card-title {
    background-image: url("./assets/images/translate.png");
    background-size: initial;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}