<!--<p>
  ieltsexam works!
  <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="playAudio()">
    Play
  </button>
    <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="pauseAudio()">
    Stop
  </button>
</p>-->
<div class="section">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div class="text-center"><h3>IELTS全真考试 <small>IELTS Examination</small></h3></div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <mdl-card mdl-shadow="2">
        <mdl-card-title mdl-card-expand class="listen-exam exam">
          <h2 mdl-card-title-text>听力</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          添加点图片作背景Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenan convallis.
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-button-type="raised" mdl-colored mdl-ripple disabled>
            开始测验
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <mdl-card mdl-shadow="2">
        <mdl-card-title mdl-card-expand class="read-exam exam">
          <h2 mdl-card-title-text>阅读</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          添加点图片作背景Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenan convallis.
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-button-type="raised" mdl-colored mdl-ripple disabled>
            开始测验
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <mdl-card mdl-shadow="2">
        <mdl-card-title mdl-card-expand class="write-exam exam">
          <h2 mdl-card-title-text>写作</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          添加点图片作背景Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenan convallis.
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-button-type="raised" mdl-colored mdl-ripple disabled>
            开始测验
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <mdl-card mdl-shadow="2">
        <mdl-card-title mdl-card-expand class="speak-exam exam">
          <h2 mdl-card-title-text>口语</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          添加点图片作背景Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenan convallis.
        </mdl-card-supporting-text>
        <mdl-card-actions mdl-card-border>
          <button mdl-button mdl-button-type="raised" mdl-colored mdl-ripple disabled>
            开始测验
          </button>
        </mdl-card-actions>
      </mdl-card>
    </div>
  </div>
</div>