<div class="section">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div class="text-center"><h3>账户设置 <small>Account Settings</small></h3></div>
    </div>
  </div>

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone cell-center">
      <div class="content-box" mdl-shadow="2">
        <div class="content">
          <form>
            <div class="formSubTitle">
                <h5>个人信息</h5>
            </div>
            <div class="profilePic">
            </div>
            <p>
              姓名<br>
              <mdl-textfield label="试用帐号" type="text" disabled></mdl-textfield>
            </p>
            <p>
              邮箱<br>
              <mdl-textfield label="" type="text" disabled></mdl-textfield>
            </p>
            <p>
              地址<br>
              <mdl-textfield label="" type="text" disabled></mdl-textfield>
            </p>
            <p>
              电话<br>
              <mdl-textfield label="" type="text" disabled></mdl-textfield>
            </p>
            <p>
              个人简介<br>
              <mdl-textfield label="Make it." type="text" rows="5" maxrows="5" disabled></mdl-textfield>
            </p>

            <div class="formSubTitle">
                <h5>密码设置</h5>
            </div>
            <p>
              请输入密码<br>
              <mdl-textfield label="*********" type="text" disabled></mdl-textfield>
            </p>
            <p>
              再次输入密码<br>
              <mdl-textfield label="*********" type="text" disabled></mdl-textfield>
            </p>
            <p>
              <button mdl-button type="submit" mdl-button-type="raised" mdl-colored="primary" mdl-ripple disabled>更新</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>