button.mdl-navigation__link{
    height:initial;
}

mdl-menu mdl-menu-item a {
    color: #666666;
    line-height: 48px;
}

nav button, nav mdl-menu mdl-menu-item a {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
}